body,html{
	width: 100%;
	height:100%;
	overflow-x: hidden;
}

/* 转盘 */
.dial{
	width: 100%;
	height:100%;
	padding-top: 2rem;
	background: url("../images/beijing.png") no-repeat center;
	background-size:100% 100%;
}

.dial_canvas{
	padding: 0 0.5rem;
	width: 100%;
	position: relative;
}
.dial_canvas canvas{
	border: 0.08rem solid #26c4ff;
	border-radius: 50%;
}
#gostart{
	position: absolute;
	width: 1.87rem;
	height: 1.87rem;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
}
#gostart img{
	width: 100%;
	height: 100%;
}
/* 中奖了 */
#congratulation{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	background: rgba(0,0,0,0.5) url("../images/sunshine@2x.png") no-repeat center 1.2rem;
	background-size: 140%;
}
#congratulation ul{
	position: absolute;
	top: 4.2rem;
	height: 3.5rem;
	width: 70%;
	padding-top: 1.25rem;
	left: 50%;
	text-align: center;
	background: url("../images/sun.png") no-repeat;
	background-size: 100% 100%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.lation_bt{
	font-size: 0.3rem;
	color: #fff585;
	margin-bottom: 0.2rem;
}
.lation_money{
	font-size: 0.42rem;
	color: #fff585;
	font-weight: 800;
	margin-bottom: 0.3rem;
}
.lation_tip{
	font-size: 0.26rem;
	color: #fff;
	white-space: nowrap;
}

/*我的商品-----------------------------------------------------*/
.myIndex_Con>li{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	text-align: center;
	padding: 0.4rem 0;
	border-bottom: 0.02rem solid #f5f5f5;
	border-right: 0.02rem solid #f5f5f5;
}
.myIndex_Con>li:nth-child(2n){
	border-right: 0;
}
.myIndex_Con>li>dl>dt{
	height: 1.24rem;
	width: 2.25rem;
	background: url("../images/moren2.png") no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}











